
body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    display: flex;
    flex-direction: column;
}

p{
    font-size: 1.25em;
}

.container {
    margin: 20px; 
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    min-height: 50px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header-content .logo a{
    text-decoration: none;
    color: white;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    background-color: white;
    color: black;
}

button{
    background-color: #000000;
    color: white;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.header-text {
    max-width: 40%;
}

.header-text-only{
    text-align: center;
}

.header-section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 35px;
    max-width: 1240px; /* Added */
    margin: 0 auto; /* Center the container */
    gap: 2%; /* Added for relative spacing */
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added to vertically align contents */
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid #333; /* Ensure border is defined */
    transition: border 0.3s, color 0.3s; /* Smooth transition */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1; /* Added to make tiles flexible */
    margin: 1%; /* Added for relative spacing */
}

.tile p{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0px;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border: 4px solid #333; /* Ensure border is defined */
}

.tile img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 100px;
}

.form-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-text{
        max-width: 100%;
    }

    .header-text h1{
        font-size: 36px;
        width: 100%;
    }

    .header-text-only H1{
        font-size: 36px;
    }

    .header-text p{
        font-size: 28px;
        width: 100%;
    }

    .header-text-only p{
        font-size: 28px;
    }

    .tiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (min-width: 601px) {
    .header-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 20px;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
    }

    h1 {
        font-size: 36px;
    }

    .header-section h1,
    .header-section p {
        text-align: left;
    }

    .tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase; 
       }
}

footer {
    background-color: #333; /* Black background */
    color: white; /* White text */
    padding: 20px 0;
    text-align: center;
}

footer .footer-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

footer nav a {
    color: white; /* White text for links */
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer nav a:hover {
    color: #000000; /* Light grey text on hover */
    background-color: white;
}

.portfolio-tile-holder{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 25px 0px;
}

.portfolio-tile-holder a{
    text-decoration: none;
    color: black;
}

.portfolio-tile{
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    border:#333 2px solid;
    max-width: 400px;
    text-decoration: none;
    color: black;
    margin:0px 15px;
    transition: border-color 0.3s, color 0.3s; /* Smooth transition */
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-tile-holder img{
    max-width: 400px;
    border-radius: 10px 10px 0 0;
}

.portfolio-text{
    padding: 0px 10px;
}

.portfolio-tile:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-color: blue; /* Change border color on hover */
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.services-container-gray{
    background-color: rgb(217, 217, 217);
}

.services-container-gray img{
    padding-top: 10px;
}

.services-container:last-of-type{
    margin-bottom: 25px;
}

.services-container img{
    max-width: 75px;
    align-self: center;
}

.services-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5%;
    text-align: center;
}

.services-item h3{
    text-transform: uppercase;
    font-weight: 600;
}

.services-item p{
    margin-top: 10px;
    max-width: 175px;
}

.CTA-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

.CTA-footer h3{
    margin: 25px;
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.CTA-footer a{
    align-self: center;
    margin: auto;
}

@media (max-width: 600px){
    .services-container{
        flex-direction: column;
    }

    .services-item p{
        align-self: center;
        margin: auto;
        padding: 20px 0;
        max-width: 100%;
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: vertical;
}

/* Ensure the menu button is hidden on larger screens */
@media (min-width: 600px) {
    .menu-toggle {
        display: none;
    }
}

@media (max-width: 600px) {
    .portfolio-tile-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px;
    }

    .portfolio-tile-holder img{
        max-width: 90%; /*Not right - Need to come back and adjust to make image consistent with width of box*/
    }

    .services-container{
        flex-direction: column;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #444;
        text-align: center;
        padding: 10px 0;
    }

    .nav.active{
        display: flex;
        flex: column;
        margin-top: 20px;
        padding: 0;
    }

    .nav.active a{
        font-size: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .menu-toggle {
        display: block; /* Show the menu button in mobile */
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin-bottom: 0;
    }
  
    .footer-nav{
        display: none;
    }
}

/*PROJECTS STYLING STARTS HERE*/
.task-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px 0;
}

.task-container input{
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 15px;
}

.task-container ul{
    list-style: none;
}

.task-container li button{
    margin-bottom: 0;
    max-height: 45px;
    align-self: center;
}

#taskList li button:first-of-type{
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
}

#taskList{
    display: none;
}

#taskList li{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 20px;
}


#taskList:not(:empty){
    display: block;
}

.task-input-button{
    display: flex;
    flex-direction: row;
}

.task-text{
    justify-self: center;
    align-self: center;
    flex: 1;
    padding-right: 15px;
    font-size: 1.25em;
}

.task-completed{
    color: gray;
    text-decoration: line-through;
}

ul#taskList{
    padding-inline-start: 0px;
}

@media (max-width:600px) {
    .task-container{
        width: 100%;
    }
    
    .task-input-button{
        flex-direction: column;
    }

    ul#taskList {
        padding-inline-start: 0px;
        min-width: 100%;
    }

    #taskList li{
        flex-direction:column;
    }

    #taskList li button:first-of-type{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .task-text{
        padding-right: 0;
        padding-bottom: 10px;
        font-size: 1.25em;
    }
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-container div{
    margin: 20px;
    font-size: 30px;
}